<div class="well bs-component col-md-4 in_center">
    <form class="form-horizontal">
      <fieldset>
        <legend>Login</legend>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Email</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputEmail" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="col-lg-2 control-label">Password</label>
          <div class="col-lg-10">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            
          </div>
        </div>
      </fieldset>
    </form>
    <button>
        <a href="#">Login</a>
    </button>
    <button>
        <a href="#/register">Register here</a>
    </button>
</div>
  <!--<div id="source-button" class="btn btn-primary btn-xs" 
                style="display: block;">Login</div></div>-->