<div class="container row">
    <div class="col-lg-2">
        <div class="bs-component">
          <div class="list-group">
            <div class="list-group-item">
                <p>Navigation</p>
                <a href="#">Home</a>
            </div>
            <!--class for active: active-->
          </div>
        </div>

        <div class="bs-component">
          <div class="list-group">
            <div class="list-group-item">
                <p>to push a new ad, please login.</p>
                <a href="#/login">Login</a><br/>
                <a href="#/register">Register</a>
            </div>
            <!--class for active: active-->
          </div>
        </div>
    </div>
    
    <div class="well bs-component col-md-8">
        <form class="form-horizontal" name="loginForm">
          <fieldset class='row'>
            <legend>Register</legend>
            <div class="form-group username">
              <label for="username" class="col-lg-2 control-label">Username:</label>
              <div class="col-lg-4">
                <input type="text" class="form-control" id="username" 
                       placeholder="Username" ng-model="reg.username">
              </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password:</label>
                <div class="col-lg-4">
                    <input type="password" class="form-control" 
                           id="inputPassword" placeholder="Password"
                           ng-model="reg.password">
                </div>
                <label for="confirmPassword" class="col-lg-2 control-label">Confirm Password:</label>
                <div class="col-lg-4">
                    <input type="password" class="form-control" 
                           id="confirmPassword" placeholder="Confirm Password"
                           ng-model="reg.confirmPassword">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-lg-2 control-label">Name:</label>
                <div class="col-lg-4">
                  <input type="text" class="form-control" id="name" 
                         placeholder="Name" ng-model="reg.name">
                </div>
              <label for="inputEmail" class="col-lg-2 control-label">Email:</label>
              <div class="col-lg-4">
                <input type="text" class="form-control" id="inputEmail" 
                       placeholder="Email" ng-model="reg.email">
              </div>
            </div>
            <div class="form-group">
                <label for="phone" class="col-lg-2 control-label">Phone:</label>
                <div class="col-lg-4">
                  <input type="text" class="form-control" id="phone" 
                         placeholder="Phone" ng-model="reg.phone">
                </div>
              <label for="town" class="col-lg-2 control-label">Town:</label>
              <div class="col-lg-4">
                <input type="text" class="form-control" id="town" 
                       placeholder="Email" ng-model="reg.town">
              </div>
            </div>
            <button type="button" class="btn btn-default" 
                    ng-click="regFunc(reg)">Register
            </button>
          </fieldset>
        </form>
        <button>
            <a href="#">Register</a>
        </button>
            <a href="#/register">Login here</a>
    </div>
</div>