.ad {
    margin-bottom: 10px;
}

.noStyleList {
    list-style: none;
}

.adTitle, .username {
/*    width: 70%;*/
    display: block
/*    margin-top: 0px;*/
}

.adDate {
    position: absolute;
    right: 5%;
}

/*.filters {
    position: absolute;
    right: 5%;
}*/

.rightSide {
    position: relative;
    width: 60%;
    right: -40%;
}

.part {
    margin-bottom: 4%;
}

.login {
    margin-left: 10%;
}

#navbar {
    color: #265a88;
}

#downNewAdSection {
    margin-top: 3%;
    margin-left: 5%;
}

.statusFilters {
    list-style: none;
}

#listaOfStatusFilters {
    width: 90%;
    margin-left: -20%;
}

.funcButton {
    margin-left: 2%;
}