.ad {
    margin-bottom: 10px;
}

.adTitle {
/*    width: 70%;*/
    display: block
/*    margin-top: 0px;*/
}

.adDate {
    position: absolute;
    right: 5%;
}

.rightSide {
    position: relative;
    width: 60%;
    right: -40%;
}

.part {
    margin-bottom: 4%;
}