.ad {
    margin-bottom: 10px;
}

.noStyleList {
    list-style: none;
}

.adTitle, .username {
/*    width: 70%;*/
    display: block
/*    margin-top: 0px;*/
}

.adDate {
    position: absolute;
    right: 5%;
}

.rightSide {
    position: relative;
    width: 60%;
    right: -40%;
}

.part {
    margin-bottom: 4%;
}

.login {
    margin-left: 10%;
}