<script>
    $("#hello").remove();
    
    $hello = $("<li id='hello'><a>Hello "+ localStorage.getObject("user").username +"</a></li>");
    $("#headerMenu").prepend($hello);
</script>
<div class="container row">        
        <div class="col-lg-2">
            <div class="bs-component">
              <div class="list-group">
                <div class="list-group-item">
                    <p>Navigation</p>
                    <a href="#/user/home">Home</a><br/>
                    <a href="#/user/ads">My Ads</a><br/>
                    <a href="#">Publish new ad</a><br/>
                    <a href="#">Edit profile</a><br/>
                </div>
                <!--class for active: active-->
              </div>
            </div>
        </div>
        
        <div class="modal-dialog col-md-5">
            <div ng-repeat="ad in data.ads | orderBy:'' | filter: filterByTown | filter: filterByCategory" class="ad">
                <div class="modal-content">
                    <div class="modal-header row">
                        <h3 class="col-md-6">{{ad.title}}</h3>
                        <span class="col-md-3 adDate">{{ad.date|date:"d-MMM-yyyy"}}</span>
                    </div>
                    <div class="modal-body row">
                        <img ng-src="{{ad.imageDataUrl}}" src="" class="col-md-4">
                        <section class="col-md-8 row">
                            <div class="col-md-12 ad">
                                <span class="list-group-item textOfAd">
                                    {{ad.text}}
                                </span>
                            </div>
                            <div class="col-md-12 row ad">
                                <strong class="col-md-3">Name:</strong>
                                <span class="list-group-item col-md-8">
                                    {{ad.ownerName}}
                                </span>
                            </div>
                            <div class="col-md-12 row ad">
                                <strong class="col-md-3">E-mail:</strong> 
                                <span class="list-group-item col-md-8">
                                    {{ad.ownerEmail}}
                                </span>
                            </div>
                            <div class="col-md-12 row ad">
                                <strong class="col-md-3">Tel.</strong> 
                                <span class="list-group-item col-md-8">
                                    {{ad.ownerPhone}}
                                </span>
                            </div>
                        </section>
                    </div>
                <!--<div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>-->
                </div>
            </div>
        </div>
    <div class="col-md-3">
      <div class="bs-component">
        <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Filter by categories</h3>
            </div>
            <!-- filter by category-->
            <select ng-model="filterByCategory.categoryId" class="filters form-control" id="filtterByCategory">
              <option selected value="">All</option>
              <option ng-repeat="category in categories" value="{{category.id}}">
                  {{category.name}}
              </option>
            </select>
        </div>
        </div>
        <div class="filters bs-component">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Filter by town</h3>
              </div>
                <!-- filter by category-->
                <select ng-model="filterByTown.townId" class="form-control" id="filtterByCategory">
                  <option selected value="">All</option>
                  <option ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
                </select>
            </div>
        </div>  
    </div>
    
</div>